#searchForm {
	padding-top: 30px;
}

#navigationBar {
	position: relative;
    top: 135px;
}

#responseDiv{
	overflow: auto;
}

.userNameInGroup{
	background-color: rgb(62, 81, 185);	
	color: white;
	border-radius: 5px;
	padding: 1px;
	pading-left: 3px;
	pading-right: 3px;
}

#oneMessageInContent {
		margin-top: 5px;
		padding-top: 10px;
		padding-left: 12px;
		border-radius: 20px;
		width: 100%;
		border: 1;
		background-color: grey;
		color: white;
}

#oneMessageFromDB {
		margin-top: 5px;
		padding-top: 10px;
		padding-left: 12px;
		border-radius: 20px;
		width: 100%;;
		border: 1;
		background-color: #A9A9A9;
		color: white;
}

.topDown{
	top: 120px	
}

#oneMessageInChat {
		margin-top: 5px;
		padding-top: 10px;
		padding-left: 12px;
		border-radius: 20px;
		border: 1;
		background-color: grey;
		color: white;
	}
	
.postBox {
	border-width:2px;
	border-style:solid;
	margin-bottom: 5px;
	padding: 5px;
}

.nameString{
	float: left;
	margin-bottom: 5px;
}

.dateString{
	float: right;	
}

.contentString{
	clear: both;	
	border-width:1px;
	border-style:solid;
	padding: 2px;
}