#searchForm {
	padding-top: 30px;
}

#navigationBar {
	position: absolute;
    top: 120px;
    left: 10px;
    width: 100px;
}

#oneMessageInContent {
		margin-top: 5px;
		padding-top: 10px;
		padding-left: 12px;
		border-radius: 20px;
		width: 512px;
		border: 1;
		background-color: grey;
		color: white;
}

.topDown{
	top: 120px	
}

#oneMessageInChat {
		margin-top: 5px;
		padding-top: 10px;
		padding-left: 12px;
		border-radius: 20px;
		width: 300px;
		border: 1;
		background-color: grey;
		color: white;
	}