<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="logo" class="container-fluid">
		<form action="javascript:retrievePosts()">
			<textarea rows="3" cols="80" id="content" name="content"
				placeholder="Whats on your mind!!"></textarea>
			<input type="submit" value="Submit"/>
		</form>
		<div class="row text-center" id="contentid"><h2>Posts</h2></div>
		<!-- <div class="row text-center" th:text="${session.posts.toString()}">All the posts</div> -->


		<div>
			<th:block th:each="post : ${session.posts}">
				<div class="postBox">	
					<div class="divFloat">
						<div class="nameString">			
							<span>by </span>
							<span th:text="${post.sender.split('@')[0]}"></span>
						</div>
						<div class="dateString">
							<span th:text="${post.displayTime}"></span>
						</div>
					</div>
					<div class="contentString">
						<span th:text="${post.content}"></span>
					</div>
				</div>
			</th:block>
		</div>
	</div>

</body>
</html>
