<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="customstyle.css">
	
	<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>

	<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	
</head>

<body>
<!-- header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.fdmgroup.com"><h2>FDM Group</h2></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li>
			<form class="navbar-form" id="searchForm">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search member">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</li>
		<li>
			<a href="http://www.google.com">
				<img height="80px" width="60px" src="C:\Users\Public\Pictures\Sample Pictures\Koala.jpg"/>
			</a>
		</li>
		<li><a href="profile.html"><h2>{{userName}}</h2></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- navigation menu left -->
<div id="navigationBar">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active"><a href="home.html">Home</a></li>
		<li role="presentation"><a href="profile.html">Profile</a></li>
		<li role="presentation"><a href="poker.html">Poker</a></li>
		<li role="presentation"><a href="http://www.google.com">Logout</a></li>
	</ul>
</div>

<div id="contentPage">
	<object type="text/html" data="content.html"></object>
</div>
	
</body>
	
</html>