<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="customstyle.css">

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	
<script type="text/javascript">
	var stompClient = null;

	function setConnected(connected) {
		document.getElementById('conversationDiv').style.visibility = connected ? 'visible'
				: 'hidden';
		document.getElementById('response').innerHTML = '';
	}

	function connect() {
		var socket = new SockJS('/public');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
			setConnected(true);
			console.log('Connected: ' + frame);
			stompClient.subscribe('/user/queue/messages', function(message) {
				showMessage(JSON.parse(message.body));
			});
		});
	}

	function sendChatMessage() {
		var sender = document.getElementById('hiddenUser').innerHTML;
		var message = document.getElementById('message').value;
		stompClient.send("/app/public", {}, JSON.stringify({
			'sender' : sender,
			'content' : message
		}));
	}

		
	function showMessage(message) {
        var response = document.getElementById('response');
        
        var boldName = document.createElement('b');
        var name = message.sender.split('@')[0];
        boldName.appendChild(document.createTextNode(name));

        var cursivContent = document.createElement('i');
        cursivContent.appendChild(document.createTextNode(message.content));            

        var p = document.createElement('div');
        p.id = "oneMessageInChat";
        p.style.wordWrap = 'break-word';
        p.appendChild(boldName);
        p.appendChild(document.createTextNode(' : '));
        p.appendChild(cursivContent);
        p.appendChild(document.createElement('br'));
        p.appendChild(document.createElement('br'));
        response.insertBefore(p, response.childNodes[0]);
        var content = document.getElementById('message');
        content.value = '';
        content.focus();        
    }
	
</script>

</head>

<body onload="connect()">
	<!-- header -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home"><h2>FDM* Book</h2></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form" id="searchForm">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Search member">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</li>
					<li><a href="http://www.google.com"> <img height="80px"
							width="60px"
							src="C:\Users\Public\Pictures\Sample Pictures\Koala.jpg" />
					</a></li>
					<li><a href="profile.html"><h2>{{userData.loginName}}</h2></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- navigation menu left -->
	<div id="navigationBar">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="home.html">Home</a></li>
			<li role="presentation"><a href="profile.html">Profile</a></li>
			<li role="presentation"><a href="poker.html">Poker</a></li>
			<li role="presentation"><a href="/logout">Logout</a></li>
		</ul>
	</div>


	<div class="container-fluid">
		<div class="row">

			<div class="col-md-1"></div>

			<div style="background-color: green" class="col-md-7 topDown"
				id="contentPage">
				<object type="text/html" data="content.html"></object>
			</div>

			<div style="background-color:" class="col-md-4 topDown" id="chatPage">
				<div id="conversationDiv">
					<form action="javascript:sendChatMessage()">
						<label>Message:</label>
						<input type="text" id="message"
							placeholder="message" /> 
						<input id="sendMessage" type="submit"
							onclick="sendChatMessage()" value="send" />
						<p id="response"></p>
					</form>
				</div>
				<div style="visibility: hidden" id="hiddenUser">{{userData.loginName}}</div>
			</div>
		</div>
	</div>

</body>

</html>