<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="customstyle.css"/>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">FDM* Book</a>
			</div>			
		</div>
	</nav>
	
	<div class="container-fluid">
	<br/><br/><br/>
		<div id ="error">
		
		</div>
		<div>
			<form name="f" th:action="@{/login}" method="post"> 
			<table>
				<tr>
					<td><label>Loginname: </label></td>
					<td><input type="email" id="username" name="username" placeholder="john.doe@fdmgroup.com"/></td>
				</tr>
				<tr>
					<td><label>Password: </label></td>
					<td><input type="password" id="password" min="5" name="password" placeholder="password"/> </td>
				</tr>
				<tr>
					<td><a href="/register">register</a></td>
					<td><input type="submit" value="Login"/></td>
				</tr>
			</table>			
			</form>
		</div>
	</div>
</body>
</html>