<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
	<object th:include="frag_headImplementation::headFragment" th:remove="tag" ></object>
</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">FDM* Book</a>
			</div>			
		</div>
	</nav>
	
	<div class="container-fluid">
	<br/><br/><br/>
		<div id ="error">
			<span th:text="${errorMessage}"></span>
		</div>
		<div>
			<form name="f" th:action="@{/register}" method="post"> 
			<table>
				<tr>
					<td><label>Loginname: </label></td>
					<td><input type="email" id="username" name="username" placeholder="john.doe@fdmgroup.com"/></td>
				</tr>
				<tr>
					<td><label>Password: </label></td>
					<td><input type="password" id="password" min="5" name="password" placeholder="password"/></td>
				</tr>
				<tr>
					<td><label>Repeat Password: </label></td>
					<td><input type="password" id="rpassword" min="5" name="rpassword" placeholder="repeat password"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Register"/></td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</body>
</html>