<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="header">
		<img alt="logo" src="/img/images.png">
	</div>
	<div id ="error">
		{{errorMessage}}
	</div>
	<div>
		<form name="f" th:action="@/register" method="post"> 
			<label>Loginname: </label><input type="email" id="username" name="username" placeholder="john.doe@fdmgroup.com"/> 
			<label>Password: </label><input type="password" id="password" min="5" name="password" placeholder="password"/> 
			<label>Repeat Password: </label><input type="password" id="rpassword" min="5" name="rpassword" placeholder="repeat password"/>
			<input type="submit" value="Register">
		</form>
	</div>
</body>
</html>